// Compile "main.scss" as "css/main.css"

/**
 * Import Bootstrap sources
 */

//@import "../node_modules/bootstrap/scss/bootstrap";

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here: https://getbootstrap.com/docs/5.0/customize/sass
// Options
$enable-caret: true;
$enable-rounded: true;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions: true;
$enable-reduced-motion: true;
$enable-smooth-scroll: true;
$enable-grid-classes: true;
$enable-button-pointers: true;
$enable-rfs: true;
$enable-validation-icons: true;
$enable-negative-margins: false;
$enable-deprecation-messages: true;
$enable-important-utilities: true;

$spacer: 1rem;

// Grayscale vars
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

// Color vars
$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;

// $primary: #14FFEC;
$primary: #00d3c1;
$secondary: #0D7377;
$tertiary: #323232;
$body-bg: #212121;
$body-color: #F2F2F2;

$border-radius: .75rem;

// Fonts
$font-family-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, serif;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base: $font-family-sans-serif;

$link-decoration: none;
// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 4. Include any optional Bootstrap CSS as needed: Uncomment all components that are not needed to reduce the filesize
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/accordion";
@import "../node_modules/bootstrap/scss/breadcrumb";
@import "../node_modules/bootstrap/scss/pagination";
@import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/alert";
@import "../node_modules/bootstrap/scss/progress";
@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/toasts";
@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/tooltip";
@import "../node_modules/bootstrap/scss/popover";
@import "../node_modules/bootstrap/scss/carousel";
@import "../node_modules/bootstrap/scss/spinners";
@import "../node_modules/bootstrap/scss/offcanvas";
@import "../node_modules/bootstrap/scss/helpers";

// 5. Optionally include utilities API last to generate classes based on the Sass map in `_utililies.scss`
@import "../node_modules/bootstrap/scss/utilities/api";


/**
 * General
 */

img {
	vertical-align: middle;
}


/**
 * WordPress customization
 */

/* If WP-Adminbar is visible */
body.admin-bar {
	#header.fixed-top {
		top: 32px;
	}

	.edit-link a {
		color: #fff !important;
		font-weight: normal !important;
		text-decoration: none !important;

		&::before {
			content: '\270E';
			display: inline-block;
			margin-right: 5px;
		}
	}
}

/* WordPress Embeds */

.post-thumbnail,
.wp-video,
.embed-responsive {
	margin: 5px 0;
	width: 100% !important;
}

.post,
.post-thumbnail {
	img {
		max-width: 100%;
		height: auto;
	}
}

/* Header */

#header {
	.search-form {
		min-width: 250px;
	}
}

.navbar-brand {
	padding-top:0px;
	img {
		height: 40px;
	}
}

.navbar-static-top {
	margin-bottom: $grid-gutter-width;
}

/* Footer */

#footer {
	background-color: #fff;

	p {
		margin-top: 10px;
	}

	.menu-item {
		a {
			&[aria-current='page'] {
				color: $link-hover-color;
			}
		}
	}
}

/* Sidebar */

.widget-area {
	ul {
		list-style: none;
		padding: 0;
	}
}

/* Author */

.author-avatar {
	.avatar {
		width: 64px;
		height: auto;
	}
}

.author-info {
	margin: 40px 0;

	h2,
	h3 {
		margin-top: 0;
	}
}

/* Posts */

.sticky {
	.card {
		background-color: $gray-100;
	}
}

.entry-meta {
	font-size: small;
	margin-top: ($grid-gutter-width * .5);
}

.single {
	.entry-content,
	.post-navigation,
	#comments-title {
		margin: $grid-gutter-width 0;
	}
}

#comments {
	margin-top: $grid-gutter-width;
}

.comment-meta {
	height: 40px;
}

.comment-reply-title {
	margin: $grid-gutter-width 0 ($grid-gutter-width * .5);
}

.commentlist {
	list-style: none;
	margin: 0 auto;
	width: 68.9%;

	> li.comment {
		margin: 0 0 1.625em;
		padding: 1.625em;
		position: relative;
	}

	.children {
		list-style: none;
		margin-top: $grid-gutter-width;

		> li.comment {
			border-top: 1px solid $gray-300;
			padding-top: $grid-gutter-width;
			position: relative;
		}
	}

	.avatar {
		width: 64px;
		height: 64px;
		border-radius: 50%;
		box-shadow: 0 1px 2px $gray-600;
		padding: 0;
		position: absolute;
		top: 0;
		left: -102px;
	}
}

/* WordPress Blocks */

// Buttons

.wp-block-button {
	&.is-style-outline {
		.wp-block-button__link {
			@extend .btn;
			@extend .btn-outline-primary;
		}
	}

	&.btn-lg {
		.wp-block-button__link {
			@extend .btn-lg;
		}
	}
	&.btn-sm {
		.wp-block-button__link {
			@extend .btn-sm;
		}
	}

	.wp-block-button__link {
		@extend .btn;
		@extend .btn-primary;
		text-decoration: none;
	}
}

// Table

.wp-block-table {
	td,
	th {
		border: inherit;
	}

	table {
		@extend .table;
	}
}

// Image, Media and Text

.wp-block-image,
.wp-block-media-text__media {
	img,
	video {
		height: auto;
	}
}

/*** CUSTOM CSS ***/

.card{
	background-color: $tertiary;
}

.display-none{
	display: none;
}

.header-margin {
	margin-top: 110px;
}

.usp{
	margin-top: 100px;
	padding-top: 25px;
	padding-bottom: 25px;
	h2{
		margin-bottom: 30px;
	}
	.usp-container{
		padding: 15px;
		display: grid;
		grid-template-columns: 36px auto;
		gap: 0 22px;
		align-items: center;
	}
	.usp-icon{
		width: 80%;
		height: auto;
		overflow: visible;
		fill: currentColor;
		margin-top: -0.2rem;
		vertical-align: middle;
		transition: transform 0.15s cubic-bezier(0.22, 0.61, 0.36, 1);
		svg{
			width: 100%;
			height: 100%;
		}
	}
	.usp-content{
		display: flex;
		justify-content: center;
		flex-direction: column;
		p{
			margin:0;
		}
	}
}

.showcase_products{
	margin-top: 100px;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: $secondary;
	h2{
		margin-bottom: 30px;
	}
}

.woocommerce-account{
	.woocommerce-MyAccount-navigation{
		width: auto;
	}
	.woocommerce-MyAccount-content{
		width: auto;
	}
}

.main-header {
	width: 100%;
	.image-background {
		height: 550px;
		background-image: url(https://kartingstore.nl/wp-content/uploads/2022/03/kartingstore4.jpg);
		background-position: center;
		background-size: cover;
		.row{
			padding-top: 100px;
			h1{
				margin-bottom: 35px;
				font-size: 47px;
			}
			input{
				color: $body-bg;
				background-color: $body-color;
				padding: 13px;
				border-radius: 8px!important
			}
		}
	}
	.categories{
		margin-top: -250px;
		.main-category {
			background-color: $tertiary;
			border-radius: .75rem;
			// box-shadow: 0px 4px 15px 0px $black;
			transition: all 1s ease;
			cursor: pointer;
			:hover{
				svg{
					margin-right: -5px;
				}
			}
			.textual {
				h2{
					font-size: 24px;
					color: $body-color;
				}
				p{
					font-size: 16px;
					color: $primary;
					margin-bottom: 0;
				}
				svg {
					height: 20px;
					margin-top: 2px;
					margin-left: -9px;
				}
			}
		}
	}
}

.navbar {
	background-color: $body-bg;
	transition: all 0.2s ease;
	.nav-item {
		list-style: none;
	}
	.nav-link {
		padding-left: 0px;
	}
	.login{
		margin-right: 20px;
	}
	.cart-customlocation{
		position: relative;
		svg{
			margin-top: -7px;
		}
		div{
			position: absolute;
			right: -10px;
			top: -10px;
			z-index: 1;
			font-size: 14px;
			font-weight: 700;
			background-color: $body-color;
			border-radius: 30px;
			padding: 0 7px;
		}
		p {
			padding: 0px;
			margin: 0px;
		}
	}

}

.nav-transparent{
	background-color: transparent;
}


.pswp__caption{
	display: none;
}
.woocommerce {
	.product_meta{
		opacity: .6;
		span {
			display: block;
		}
		.sku {
			display: revert;
		}
	}
	.woocommerce-result-count{
		display: none;
	}
	a.button.alt, button.button.alt{
		background-color: $primary;
		color: $body-color;
	}
	a.button.alt:hover, button.button.alt:hover{
		background-color:shade-color($primary, 10%);
	}
	div.product p.price, div.product span.price{
		color: $body-color;
	}
	.quantity {
		input.qty{
			height: 35px;
		}
	}
	button.button:disabled, button.button:disabled[disabled], button.button.alt:disabled[disabled]{
		color: $gray-800;
	}
	button.button:disabled:hover, button.button:disabled[disabled]:hover{
		color: $gray-800;
	}
	div.product .woocommerce-tabs ul.tabs li.active{
		background-color: $tertiary;
	}
	div.product .woocommerce-tabs ul.tabs li, div.product .woocommerce-tabs ul.tabs::before, div.product .woocommerce-tabs ul.tabs li::before, .woocommerce div.product .woocommerce-tabs ul.tabs li::after, div.product .woocommerce-tabs ul.tabs li.active{
		border: 1px solid $secondary;
	}
}
.woocommerce div.product .woocommerce-tabs ul.tabs li::after, .woocommerce div.product .woocommerce-tabs ul.tabs li::before{
	content: none;
}
.woocommerce #respond input#submit.alt.disabled, .woocommerce #respond input#submit.alt.disabled:hover, .woocommerce #respond input#submit.alt:disabled, .woocommerce #respond input#submit.alt:disabled:hover, .woocommerce #respond input#submit.alt:disabled[disabled], .woocommerce #respond input#submit.alt:disabled[disabled]:hover, .woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover, .woocommerce a.button.alt:disabled, .woocommerce a.button.alt:disabled:hover, .woocommerce a.button.alt:disabled[disabled], .woocommerce a.button.alt:disabled[disabled]:hover, .woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:hover, .woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt:disabled[disabled], .woocommerce button.button.alt:disabled[disabled]:hover, .woocommerce input.button.alt.disabled, .woocommerce input.button.alt.disabled:hover, .woocommerce input.button.alt:disabled, .woocommerce input.button.alt:disabled:hover, .woocommerce input.button.alt:disabled[disabled], .woocommerce input.button.alt:disabled[disabled]:hover{
	background-color: $gray-400;
	color: $gray-800;
}

.woocommerce-cart {
	table.cart {
		img{
			border-radius: $border-radius;
			width: 200px;
		}
	}
}
.product_image_custom{
	img{
		border-radius: $border-radius;
	}
}
.wp-post-image{
	border-radius: $border-radius;
}

.woocommerce-loop-product__title {
	color: $body-color;
}

.button.add_to_cart_button{
	background-color: $primary!important;
	color: $body-color!important;
}
.button.add_to_cart_button:hover, .added_to_cart.wc-forward:hover{
	background-color: $nav-link-hover-color!important;
}


.added_to_cart.wc-forward:after{
	font-family: 'WooCommerce';
	content: "\e017";
	margin-left: .53em;
	vertical-align: bottom;
}

.added_to_cart.wc-forward{
	font-size: 100%;
	margin: 0;
	line-height: 1;
	cursor: pointer;
	position: relative;
	text-decoration: none;
	overflow: visible;
	padding: .618em 1em;
	font-weight: 700;
	border-radius: 3px;
	left: auto;
	color: $body-color;
	background-color: $primary;
	border: 0;
	display: inline-block;
	background-image: none;
	box-shadow: none;
	text-shadow: none;
}
.button.add_to_cart_button.added{
	display: none;
}
.price{
	font-size: 1.2em!important;
}
.woocommerce .cart-collaterals .cross-sells, .woocommerce-page .cart-collaterals .cross-sells .products.row .col-12.col-md-6.col-xl-3.order-1.order-xl-1{
	width: 49%;
}



/**
 * Responsive Design using "mixins/_breakpoints.scss"
 */

 @media (max-width: breakpoint-max(sm)) {
	#sidebar {
		margin-top: 60px;
	}
}

@media (max-width: breakpoint-max(md)) {
	.main-header {
		.categories{
			margin-top: -180px;
		}
	}
	.navbar{
		background-color: $body-bg;
	}
}

@media (max-width: breakpoint-max(xl)) {
	.cross-sells{
		display: none;
	}
}

@media (min-width: breakpoint-min(md)) {
	.navbar {
		.nav-item{
			.dropdown-menu {
				display: none; 
				margin-top: 0;
			}
		}
		.nav-item:hover {
			.dropdown-menu{ display: block; }
		}
	}
}